.carousel-container {
  width: 100%;
  display: flex;
  margin-inline: auto;
  margin-top: 30px;
  justify-content: center;
}

.project-carousels {
  width: 100%;
  max-width: 1080px;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
.project-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}
.carousel-img {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
  margin-inline: auto;
}
.carousel-img > img {
  display: flex;
  max-height: 50vh;
  max-width: 700px;
}
@media screen and (max-width: 1200px) {
  .carousel-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;    width: 300px;
    height: 300px;
  }
  .carousel-img > img {
    display: flex;
    height: 60vh;
  }
}